@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: 50%;
    background: $color;
}

@mixin section-bg($url) {
    min-height: rem(650px);
    height: 100vh;
    background-image: url($url);
    background-size: cover;
}

@function rem($px) {
    @return $px / 16px+0rem;
}

@mixin laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin minitablet {
    @media screen and (max-width: $minitablet) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: $phone) {
        @content;
    }
}

@mixin miniphone {
    @media screen and (max-width: $miniphone) {
        @content;
    }
}