.sidebar {
    position: fixed;
    right: rem(40px);
    top: rem(80px);
}

.sidebar__item {
    @include circle(rem(6px), white);
    position: relative;

    &:hover .sidebar__link {
        display: block;
    }
}

.sidebar__item:not(:first-child) {
    margin-top: rem(15px);
}

.sidebar__link {
    @include circle(rem(14px), transparent);
    border: 1px solid white;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
}

.btn-red {
    @extend %btn;
    background: $red;

    &:hover {
        background: darken($red, 10%);
    }
}

.btn-gray {
    @extend %btn;
    background: $gray;

    &:hover {
        background: darken($gray, 10%);
    }
}