.contacts {
    @include section-bg("../../img/map.jpg");
    background-position: bottom center;
    position: relative;
}

.contacts__footer {
    position: absolute;
    bottom: 0;
    height: rem(60px);
    width: 100%;
    background-image: url(../../img/footer-bg.jpg);

    @include phone {
        background-image: url(../../img/footer-bg-mob.jpg);
        height: rem(115px);
    }
}

.footer__container {
    flex-direction: row;
    align-items: center;

    @include phone {
        flex-direction: column;
        justify-content: center;
    }
}

.footer__column {
    width: 50%;
    text-align: left;

    @include phone {
        width: 100%;
        text-align: center;
    }
}

.footer__adress {
    @extend %text;
    font-style: normal;
    white-space: nowrap;
}

.footer__tel {
    font-size: rem(14px);
    font-weight: 700;
    color: $red;

    &::before {
        content: url(../../icons/phone.svg);
        margin-right: rem(8px);
    }
}

.socials__list {
    display: flex;
    justify-content: flex-end;

    @include phone {
        justify-content: center;
        margin-top: rem(18px);
    }
}

.socials__item {
    &:not(:first-child) {
        margin-left: rem(20px);
    }
}

.socials__icon {
    fill: rgba(white, .3);
    width: rem(20px);
    height: rem(20px);
    transition: 0.3s;

    &:hover {
        fill: white;
    }
}